h1,h2,h3,h4,h5,h6{
    font-family: "Sora", sans-serif;
}

p{
     font-family: "Roboto", sans-serif;
     font-size: 1.6rem;
}

h1{
    font-size: 2.5rem;
}
h1.header{
    color: white;
}
h2.header{
    font-size: 1.3rem;
    padding-bottom: 3px;
    color: white;
}
a{
    font-family:"Sora", sans-serif ;
    font-size: 1.6rem;
}

.conteudo h1{
    text-align: center;
}